.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.filter {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.filter-items {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid: 75px / repeat(2, 200px);
}

.filter-item {
  width: 150px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  margin-left: 20px;

  .title-film {
    width: 200px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
  }
}

.item {
  min-width: 230px;
  width: 15%;
  max-height: 5%;
  margin-bottom: 30px;
  margin-right: 20px;
  outline: none;
}

.item:hover {
  transform: scale(1.1);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.img-container {
  height: 85%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-content: center;
}



