<div class="wrapper">
  <mat-form-field class="example-form">
    <input matInput placeholder="Film name" class="input-width" [(ngModel)]="filmStr">
  </mat-form-field>
</div>


<div class="content" *ngIf="!isLoaded">
  <mat-spinner></mat-spinner>
</div>


<div *ngIf="isLoaded">

  <section class="filter">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-items">
          <mat-checkbox>2010+</mat-checkbox>
          <mat-checkbox>score > 7.00</mat-checkbox>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </section>


  <div class="cards" >
    <mat-card class="item" *ngFor="let film of filmsList | filterFilm: filmStr" [routerLink]="['film',film.id]">
      <mat-card-header>
        <mat-card-title><b>{{film.name}}</b></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{film.urlImage}}" class="img-container">
    </mat-card>
  </div>

</div>
