<div class="content" *ngIf="!isLoaded">
  <mat-spinner></mat-spinner>
</div>
<div class="container-fluid" *ngIf="isLoaded">
  <div class="content">
    <div>
      <img src="{{film.urlImage}}" class="poster">
      <div class="content-kino">
        <img class="kinopoisk flex-item" src="./assets/kinopoisk.png" alt="kinopoisk">
        <span class="flex-item bold-item">{{film.mark}}</span>
        <span class="flex-item bold-item">Genre:</span>
        <span class="flex-item">{{film.genre}}</span>
      </div>
    </div>

    <div class="item">
      <h1>{{film.name}}</h1>
      <div class="desctiption">{{film.description}}</div>
      <iframe class="video-player" [src]="'https://www.youtube.com/embed/'+ film.videoUrl | safe" frameborder="0"
              allowfullscreen></iframe>
    </div>
  </div>
  <app-write-review [film]="film" [id]="id"></app-write-review>
  <app-chart-film [idFilm]="id"></app-chart-film>
  <app-reviews [idFilm]="id"></app-reviews>
</div>


