<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']">FilmsWiki</span>
    <span class="toolbar-spacer"></span>
    <!--<button mat-mini-fab color="accent" class="button-login" *ngIf="!authenticated" (click)="login()">Login</button>-->
    <img src="../assets/login.jpg" class="rounded-circle img-user" *ngIf="!authenticated" (click)="login()">
    <img src="../assets/waiting.jpg" class="rounded-circle img-user" *ngIf="isWaiting">

    <div *ngIf="afAuth.user | async as user">
      <img [src]="user.photoURL" class="rounded-circle img-user" *ngIf="authenticated" (click)="logOut() ">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authenticated" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['reviews']">
          <mat-icon>movie</mat-icon>
          <span>Your reviews</span>
        </button>
        <button mat-menu-item [routerLink]="['reviews']">
          <mat-icon>favorite</mat-icon>
          <span>Favorites films</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>


<div class="content">
  <router-outlet ></router-outlet>
</div>

