<form [formGroup]="documentForm">
  <h1 mat-dialog-title>{{data.filmName}}</h1>
  <div mat-dialog-content>
    <p>Update review</p>

    <mat-radio-group [formControl]="documentForm.controls['opinion']">
      <mat-radio-button value="Negativ" class="radio-group">
        <mat-icon class="dislike">thumb_down</mat-icon>
      </mat-radio-button>
      <mat-radio-button value="Positive" class="radio-group">
        <mat-icon class="like">thumb_up</mat-icon>
      </mat-radio-button>
    </mat-radio-group>


    <mat-form-field class='review-text-area'>
      <textarea matInput autosize [value]="data.review" [formControl]="documentForm.controls['review']"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="{text: documentForm.value.review, opinion: documentForm.value.opinion }" cdkFocusInitial [disabled]="documentForm.invalid">Ok</button>
  </div>
</form>
