.like {
  color: rgba(81, 235, 109, 0.71);
  margin-right: 10px;
}


.dislike {
  color: rgba(235, 1, 0, 0.71);
  margin-right: 10px;
}


.btn {
  font-size: 1.5em;
}
.btn:active {
  transform: scale(0.9);
}

.delete-icon {
  color: rgba(235, 1, 0, 0.71);
}

.edit-icon {
  color: rgba(27, 144, 235, 0.71);
}

.img-user{
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.review-text-area {
  width: 100%;
  height: 100%;
  padding-left: 20px;

}

.list-item{
  height: 100%;
}

.box{
  width: 300px;
  vertical-align: top;
}

.review{
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.review-render{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  padding-right: 20px;
}

.review-section{
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e2e2e2
}

.reviews-not-found{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

//
//.review-inrormation {
//  display: flex;
//  flex-direction: row;
//}
//
//.review-section {
//  display: block;
//}
