<div class="container" >
  <mat-list>
    <h3 mat-subheader>Reviews</h3>
    <section *ngFor="let review of reviews" class="review-section">
      <div class="review-render">
        <img src="{{review.userPhoto}}" class="img-user">
        <mat-icon mat-list-icon class="dislike" *ngIf="review.opinion ==='Negativ'">thumb_down</mat-icon>
        <mat-icon mat-list-icon class="like" *ngIf="review.opinion ==='Positive'">thumb_up</mat-icon>

        <div class="container review">
          <p><b>{{review.userName}}</b></p>
          {{review.review}}
        </div>
      </div>
    </section>
  </mat-list>

  <div class="load-more">
    <button mat-button color="primary" (click)="getMoreReviews()" class="load-more">Load more</button>
  </div>
</div>

<!--<div class="container reviews-not-found">-->
  <!--<span>Reviews is not found</span>-->
<!--</div>-->
